<footer>
    <div class="footer-container">
        <div class="contact">
            <a href="http://"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="http://"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a href="http://"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>

        <div class="copyrights">
            <p>Copyrights <i class="fa fa-copyright" aria-hidden="true"></i> 2024 | All Rights Reserved </p>
        </div>
    </div>
</footer>